<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexlift</title>

    <link rel="stylesheet" href="/public/main.css">
    <script src="/public/main.js" defer></script>
</head>
<body>
    {{template "topbar" .ApplicationState}}

    <article>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Lift</th>
                <th>UUID</th>
                <th>Likes</th>
                <th>UserUUID</th>
                <th>UserName</th>
                <th>Delete</th>
            </tr>
            {{range .Posts}}
            <tr id="{{.UUID}}">
                <td>{{.Title}}</td>
                <td>{{.Description}}</td>
                <td>{{.Weight}}</td>
                <td>{{.Lift}}</td>
                <td>{{.UUID}}</td>
                <td>{{.Likes}}</td>
                <td>{{.UserUUID}}</td>
                <td>{{.UserName}}</td>
                <td><button onclick="delPost(this, true)">Delete</button></td>
            </tr>
            {{end}}
        </table>
    </article>

    <article>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Handle</th>
                <th>Bio</th>
                <th>UUID</th>
                <th>Moderator</th>
                <th>Delete</th>
            </tr>
            {{range .Users}}
            <tr id="{{.UUID}}">
                <td>{{.Name}}</td>
                <td>{{.Handle}}</td>
                <td>{{.Bio}}</td>
                <td>{{.UUID}}</td>
                <td>{{.Moderator}}</td>
                <td><button onclick="delUser(this, true)">Delete</button></td>
            </tr>
            {{end}}
        </table>
    </article>
</body>
</html>