<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexLift</title>

    <link rel="stylesheet" href="/public/main.css">
    <script defer src="/public/main.js"></script>
</head>
<body>
    {{template "topbar" .ApplicationState}} 

    {{template "postcard" .Post}} 

    <br>

    <article class="post-card">
        <form action="/submitComment" method="POST">
            <label for="content">Comment:</label>
            <br>
            <textarea id="content" name="content" rows="4" cols="50"></textarea>
            <br>
        
            <input type="submit">
            <input type="hidden" name="post" value="{{.Post.UUID}}" />
        </form>
    </article>

    <br>

    {{range .Comments}}
        <article class="post-card" style="border-left: 5px solid #ffffff; padding-left: 5px" id="{{.UUID}}">
            <a href="/user/{{.UserUUID}}">
                <h3>{{.UserName}}</h3>
            </a>
            <span>{{.Content}}</span>
            {{if eq $.ApplicationState.UUID .UserUUID}}
                <button onclick="deleteComment(this)" style="float:right">Delete</button>
            {{end}}
        </article>
    {{end}}
</body>
</html>