{{ define "postcard" }}
    <article class="post-card" id="{{.UUID}}">    
        <a href="/post/{{.UUID}}">
            <h2>{{.Title}}</h2>
        </a>
        <h3>{{.Description}}</h3>

        <img src="/upload/post/{{.UUID}}" alt="Lift by {{.UserName}}" class="thumbnail">

        {{if .IsPr}}
            <p>Pr!</p>
        {{end}}

        <p>{{.Weight}} lbs on {{.Lift}}</p>
        <p id="likeCounter" count="{{.Likes}}">{{.Likes}} likes</p>

        {{if .Liked}}
            <button onclick="like(this)" id="like" class="liked">Remove like</button>
        {{else}}
            <button onclick="like(this)" id="like">Like post</button>
        {{end}}

        <a href="/user/{{.UserUUID}}">
            <strong>By {{.UserName}}</strong>
        </a>
    </article>
    <style>
        .liked {
            background-color: red;
        }
    </style>
{{ end }}