{{ define "postcard" }}
    <article class="post-card" id="{{.UUID}}">    
        <a href="/post/{{.UUID}}">
            <h2>{{.Title}}</h2>
        </a>
        <h3>{{.Description}}</h3>

        <img src="/upload/post/{{.UUID}}" alt="Lift by {{.UserName}}" class="thumbnail">

        <p>{{.Weight}} lbs on {{.Lift}}</p>
        <p id="likeCounter" count="{{.Likes}}">{{.Likes}} likes</p>
        <p id="commentCounter" count="{{.Comments}}">{{.Comments}} comments</p>

        {{if .Liked}}
            <button onclick="like(this)" id="like" class="liked">Remove like</button>
        {{else}}
            <button onclick="like(this)" id="like">Like post</button>
        {{end}}

        <a href="/user/{{.UserUUID}}">
            <strong>By {{.UserName}}</strong>
        </a>

        {{if .Owner}}
            <button onclick="delPost(this, false)" style="float: right;">Delete</button>
        {{end}}
    </article>
{{ end }}