<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexLift</title>

    <link rel="stylesheet" href="/public/main.css">
    <script defer src="/public/main.js"></script>
</head>
<body>
    {{ template "topbar" .ApplicationState}}

    <article class="post-card" id="{{.User.UUID}}">    
        <h2>{{.User.Name}}</h2>
        <h3>@{{.User.Handle}}</h3>

        <p>{{.User.Bio}}</p>

        {{if eq .ApplicationState.UUID .User.UUID }}
            <button onclick="delUser(this, false)">Delete</button>
        {{else if .ApplicationState.Moderator}}
            <button onclick="delUser(this, false)">Delete</button>
        {{end}}
    </article>

    <hr>

    {{range .Posts}}
        {{template "postcard" .}}
    {{end}}

    <script>
        
    </script>

</body>
</html>