<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexLift</title>

    <link rel="stylesheet" href="/public/main.css">
    <script defer src="/public/main.js"></script>
</head>
<body>
    {{ template "topbar" .}}

    <article class="post-card">    
        <h2>{{.Name}}</h2>
        <h3>@{{.Handle}}</h3>
        <h3>From {{.Location}}</h3>

        <p>{{.Bio}}</p>
    </article>
</body>
</html>